* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul, li {
    list-style-type: none;
}

img {
    width: 100%;
}

.wrapper {
    height: 412px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.wrapper_main {
    background: url("../../img/headline.png") no-repeat top center;
    background-color: #001821;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


.section__services-title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.services__title-section {
    position: absolute;
    width: 511px;
    height: 197px;
    left: 390px;
    top: 196px;
}

.services__title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    margin: 0 0 54px 0;
}

.offers__title {
    position: absolute;
    margin-top: 220px;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 36px;
    top: 168px;
    left: 390px;
    font-weight: 700;
}

.main-page__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
}

.main-page__link_active {
    font-weight: 700;
}

.main-page__link a {
    color: #9A9A9A;
}

.main-page__link div {
    margin: 0 5px;
}

.ofer__list {
    margin-top: 50px;
}



