.banner {
    background-image: url("../../img/banner.png");
    background-size: cover;
    background-position: center;
    height: 363px;
}

.banner__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.banner__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    max-width: 595px;
}

.banner__image {
    width: 487px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.banner__image img {
    width: 100%;
    position: relative;
    bottom: -3px;
}