.form {
    background: #F4F5F5;
}

.form__container {
    padding: 62px 0 96px 0;
}

.form__title {
    font-weight: bold;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 57px;
}

.form__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__input {
    width: 557px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    outline: 0;
    margin-bottom: 25px;
    transition: .3s;
}

.form__textarea {
    width: 100%;
    height: 243px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    resize: none;
    transition: .3s;
}

.form__input:active, .form__textarea:active {
    border: 1px solid red;
}

.form__input:focus, .form__textarea:focus {
    border: 1px solid red;
}

.form__flex_title {
    font-size: 18px;
    color: #1A1B1E;
    max-width: 370px;
    margin-bottom: 25px;
}

.form__flex_nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 715px;
}

.form__flex_nav_item {
    padding: 10px 15px;
    box-sizing: border-box;
    background: #E7E7E7;
    margin: 9px 7px 0 7px;
    border-radius: 35px;
    font-size: 13px;
    color: #303030;
    transition: .3s;
}

.form__flex_nav_item:hover, .form__flex_nav_item_active {
    background: #B9EAE4;
    color: #1A1B1E;
    cursor: pointer;
}

.form__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

.form__action {
    width: 168px;
    padding: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 35px;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: .3s;
}

.form__action.send__button {
    background: #F5170E;
}

.form__action.clear__button {
    margin-right: 17px;
    background: #8E8E8E;
}

.form__action.clear__button:hover {
    background: #2B2B2B;
}