.paginator {
    max-width: 375px;
    margin: 0 auto;
    color: #000;
    display: flex;
    align-items: center;
    padding-bottom: 86px;
}

.paginator__list, .paginator__item, .paginator__display {
    display: flex;
}

.paginator__display {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-right: 25px;
}

.paginator__link {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.paginator__item {
    margin-right: 2px;
    border-radius: 50%;
    transition: .3s;
}

.paginator__item:hover {
    background: red;
}

.paginator_item:last-child {
    margin-right: 0;
}

