.social-list {
    display: flex;
    margin-right: 74px;
}

.footer__socials {
    margin-left: 74px;
}

.social-list__link {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 40%;
    position: relative;
    transition: .3s;
}

.social-list__link.social-list__link_fb {
    background-image: url("../../img/f.png");
    background-size: cover;
    background-position: center;
}

.social-list__link.social-list__link_telegramm {
    background-image: url("../../img/t.png");
    background-size: cover;
    background-position: center;
}

.social-list__link.social-list__link_in {
    background-image: url("../../img/in.png");
    background-size: cover;
    background-position: center;
}

.social-list__link.social-list__link_vk {
    background-image: url("../../img/vk.png");
    background-size: cover;
    background-position: center;
}

.social-list__item {
    margin-right: 10px;
}

.social-list__item:last-child {
    margin-right: 0;
}

.social-list__item:hover .social-list__link.social-list__link_fb {
    background-image: url("../../img/f-light.png");
}

.social-list__item:hover .social-list__link.social-list__link_telegramm {
    background-image: url("../../img/t-light.png");
}

.social-list__item:hover .social-list__link.social-list__link_in {
    background-image: url("../../img/in-light.png");
}

.social-list__item:hover .social-list__link.social-list__link_vk {
    background-image: url("../../img/vk-light.png");
}
